:root {
  --dark-navy: #040E21;
  --light-blue: #5578BB;
  --dark-blue: #2D426B;
  --accent-orange: #F8A141;
  --light-gray: #ededed;
  --dark-gray: #4F4F4F;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  height: 180px;
  padding: 25px;
  margin-top: 30px;
  background-color: var(--dark-blue);
}

.footer p, .footer label {
  color: white;
}

.footer label {
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
}

.footer label:hover, .footer label:active, .footer label:focus {
  cursor: pointer;
  opacity: 0.8;
}

.text-left {
  text-align: left !important;
}

.orange-button {
  background-color: var(--accent-orange);
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0 !important;
  height: 40px !important;
}

/* input, button {
  border-radius: 0px !important;
} */

h1 {
  color: var(--dark-blue);
}

.heading {
  font-size: 30px;
  font-weight: 700;
  color: var(--dark-blue);
}

.sub-heading {
  color: var(--dark-gray);
}

label, p {
  color: var(--dark-gray);
}


/* Login */
.login-container {
  width: 95%;
  margin: 0 auto;
  /* box-shadow: 0 1px 6px 0 rgba(0,0,0,.16); */
  min-width: 230px;
  max-width: 340px;
}

.login-heading p {
  font-weight: 500;
}

.login-block {
  padding: 15px;
  padding-bottom: 0px !important;
}

.goog {
  background-color: rgb(239, 239, 239);
}

.goog-span {
  color: rgb(51, 51, 51);
}

.fb {
  background-color: rgb(31, 117, 239);
}

.fb-span {
  color: white;
}

.tp-login-button {
  border: 0px;
  height: 40px;
  width: 100%;
  margin: 20px auto;
  display: block;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  text-align: left;
  background-clip: padding-box;
  transition: opacity 0.2s linear 0s;
  position: relative;
}

.tp-login-contents {
  border-radius: 2px;
  background-color: transparent;
  display: inline-block;
  height: 24px;
  margin-left: 12px;
  text-align: center;
  width: 24px;
}

.tp-login-contents div {
  position: relative;
  margin: 2px auto auto;
}

.tp-login-span {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: absolute;
  text-align: center;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%) translateX(-20px);
  vertical-align: top;
  -webkit-font-smoothing: auto;
  width: 100%;
}

.signup-primary {
  color: var(--dark-blue);
  background-color: white;
  border: 2px solid var(--dark-blue);
  font-weight: 600;
}

.signup-primary:hover {
  background-color: var(--dark-blue) !important;
  color: white;
}

.signin-primary {
  color: blue;
}

.signin-primary:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--dark-blue);
  font-weight: 600;
}

.btn-primary:hover {
  color: var(--dark-blue);
  background-color: white;
  border: 2px solid var(--dark-blue);
}

.remember-me-checkbox {
  margin-right: 10px !important;
}

.login-form-btn {
  margin: 20px 0 !important;
  height: 40px !important;
}

.sign-in-block {
  width: 100%;
  margin: 0px auto;
  padding-top: 20px;
}

.custom-control-label {
  font-weight: 500;
}

.text-strikethru {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0px auto;
}

.text-strikethru .line {
  height: 1px;
  background-color: #F1EEEA;
  width: 100%;
  position: relative;
  bottom: -16px;
}

.text-strikethru .text {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 5px 10px;
  font-size: 14px;
  position: relative;
  color: #282828;
}


.login-footer-image {
  position: relative;
  background-color: var(--dark-blue);
}

.login-footer-image .img {
  width: 100%;
  opacity: 20%;
}

.login-footer-image .overlay label {
  display: block;
  color: pink;
  font-size: 24px;
}

.overlay-text {
  display: block;
  color: white;
  font-weight: 700;
  padding-left: 35px;
  font-size: 24px;
  text-align: left;
}

.login-footer-image .overlay {
  width: 100%;
  height: 100%;
}

.overlay-text-block {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.overlay-text img {
  width: 24px;
  margin-bottom: 4px;
  margin-right: 10px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(186deg) brightness(111%) contrast(100%); /*To get perfect filter: https://codepen.io/sosuke/pen/Pjoqqp */
}

/* FOOTER START */

.mobile-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.46);
  z-index: 999;
}

.footer-items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-items .item {
  cursor: pointer;
  padding: 10px;
  height: 100%;
  align-items: center;
  color: black;
  font-size: 12px;
  max-width: 110px;
}

.footer-items .item img {
  margin-bottom: 8px;
}

.footer-items .item:first-child {
  padding-left: 0 !important;
}

.footer-items .item:last-child {
  border-right: none !important;
  padding-right: 0 !important;
}

.footer-items .item:hover, .footer-items .item:active, .footer-items .item:focus {
  text-decoration: none;
  transition: 0.15s all ease-in-out;
  /* filter: invert(64%) sepia(64%) saturate(394%) hue-rotate(349deg) brightness(101%) contrast(96%); To get perfect filter: https://codepen.io/sosuke/pen/Pjoqqp */
  opacity: 50%;
}

@media (max-width: 330px) {
  .footer-items .item img {
    display: none;
  }

  .footer-items .item {
    padding: 12px;
  }
}
/* FOOTER END */

.ambassador-carousel {
  height: 360px !important;
}

.ambassador-carousel .BrainhubCarousel__trackContainer {
  height: 100%;
}

.ambassador-carousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
  height: 100%;
}

.ambassador-carousel li {
  height: 100%;
}

/* Card */
.ambassador-card-container {
  height: 95% !important;
  width: 95% !important;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.16);
}

.ambassador-card-button {
  background: #FFB767;
  border-radius: 5px;
  height: 30px;
  color: var(--dark-blue);
  margin: auto;
  font-size: 10px;
  border: 0;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-image {
  width: 132px;
  height: 132px;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 52px;
  top: 566px;
}

/* Card Ended*/

/*Images */
.images-corners {
  width: 100%;
  border-radius: 5px 5px;
}

/*containers*/
.container {
  height: 95% !important;
  width: 95% !important;
  margin: auto;
  padding: 0;
  height: 100%;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) !important;
}

.container_image {
  border-radius: 10px 0 0 10px;
  display: block;
  object-fit: cover !important;
  align-self: flex-start;
  width: 50%;
  height: 100%;
}

.container_text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  flex: 1 1 auto;
}

.card-image-container{
  margin: auto 15px auto 10px;
  object-fit: contain;
  align-self: flex-start;
}

.card-image{
  width: 150px;
}

.card-title{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-gray);
}

.card-text{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-gray);
}

.card-subtitle{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: var(--dark-blue);
}

/* brainhub's carousel card custom styling*/
.BrainhubCarouselItem {
  height: 225px;
}

.carousel-container {
  padding: 40px;
  background: #419be0;
}

.carousel-slick-slide img {
  margin: auto;
}

.carousel-arrow-right {
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2.45px;
}

.carousel-arrow-left {
  transform: translate(-50%, -50%) rotate(-135deg);
  margin-left: 2.45px;
}
.carousel-arrows {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: rgba(45, 66, 107, 0.5);;
  border-width: 3px 3px 0 0;
  padding: 5px;
  transition: 0.3s;
  font-size: 0;
}

.carousel-button{
  position: relative;
  padding: 15px;
  border: none;
  overflow: hidden;
  outline: 0;
  font-size: 0;
  line-height: 0;
  background-color: #f5f5f500;
  cursor: pointer;
}

/* styling for homepage's top navbar */
.top-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #2c476c1f;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
  z-index: 940;
}

.nav-absolute {
  position: absolute;
}

.nav-fixed {
  position: fixed;
}

.white {
  background-color: white;
}

.blue {
  background-color: #2c476c;
}

.blue.nav-transparent {
  background-color: #2c476c30;
}

.top-navbar .logo {
  position: absolute;
  left: 20px;
  height: 40px;
}

.top-navbar .hamburger {
  position: absolute;
  right: 25px;
  height: 20px;
}

.top-navbar .sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  right: 70px;
  width: 60px;
  height: 30px;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.5px;
}

/* styling for hamburger modal */
.hamburger-modal {
  position: fixed;
  z-index: 950;
  width: 100vw;
  height: 100vh;
}

.modal-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
  z-index: 999;
}

.modal-navbar .logo {
  position: absolute;
  left: 20px;
  width: 25%;
}

.modal-navbar .close {
  position: absolute;
  right: 25px;
  width: 7%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  background-color: white;
  height: 100%;
  width: 100%;
}

.modal-body a {
  padding: 20px;
  color: #2D426B;
  font-weight: 500;
}

/* Home Page */

.home-landing {
  position: relative;
  width: 100vw;
  overflow: hidden;
  background-color: var(--dark-navy);
}

.home-landing .landing-img {
  position:relative;
  height: calc(100vh - 30px);
  max-height: 800px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.2;
  z-index: 2;
}

.landing-content {
  width: 80%;
  max-width: 470px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  
}

.landing-content h1 {
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}

.landing-content p {
  color: white;
  margin: 30px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.landing-content button {
  background: #F8A141;
  color: white;
  border: 2px solid #F8A141 !important;
  box-sizing: border-box;
  box-shadow: 0px 0px 7px rgba(248, 161, 65, 0.3);
  border-radius: 5px;
}

.home-about h1 {
  font-weight: bold;
}

.home-about img {
  width: 100%;
}

.home-about p {
  padding: 30px;
  padding-bottom: 0px;
}

.home-arrow-header {
  text-align: left;
  margin: 30px;
  margin-bottom: 20px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: var(--dark-blue);
}

.home-arrow-header img {
  padding-left: 10px;
}

.card-image-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.career-card-container {
    display: flex;
    border-radius: 5px;
    margin: auto;
}

.career-card-text {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(0, 0, 0, 0.61);
  padding: 20px;
}

.career-title{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #2D426B;
  margin-bottom: 0;
}

/* Video Component START */

.video-comp {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.video-comp video {
  width: 100%;
}


.ambassador-card-div{
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.flexbox-container {
  margin: 5px;
  display: flex;
  flex-wrap: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
  box-shadow: 0 0 11px rgba(255, 183, 103, 0.2);
}

.flexbox-container::-webkit-scrollbar {
  display: none; }

.nav-button{
  text-align: center;
  background: #EDEDED;
  border: 1.5px solid #EDEDED;
  box-sizing: border-box;
  box-shadow: 0 0 11px rgba(255, 183, 103, 0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
/* Video Component END */
