:root {
  --dark-navy: #040E21;
  --light-blue: #5578BB;
  --dark-blue: #2D426B;
  --accent-orange: #F8A141;
  --light-gray: #ededed;
  --dark-gray: #4F4F4F;
}

* {
  touch-action: manipulation;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.no-margin {
  margin: 0 !important;
}

.footer {
  height: auto !important;
  padding: 25px;
  margin-bottom: 64px !important;
  background-color: var(--dark-blue);
}

.footer p, .footer label {
  color: white;
}

.footer label {
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
}

.footer label:hover, .footer label:active, .footer label:focus {
  cursor: pointer;
  opacity: 0.8;
}

.text-left {
  text-align: left !important;
}

.orange-button {
  background-color: var(--accent-orange);
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0 !important;
  height: 40px !important;
}

/* input, button {
  border-radius: 0px !important;
} */

h1 {
  color: var(--dark-blue);
}

.heading {
  font-size: 30px;
  font-weight: 700;
  color: var(--dark-blue);
}

.sub-heading {
  color: var(--dark-gray);
}

label, p {
  color: var(--dark-gray);
}


/* Login */
.login-container {
  width: 95%;
  margin: 0 auto;
  /* box-shadow: 0 1px 6px 0 rgba(0,0,0,.16); */
  min-width: 230px;
  max-width: 340px;
}

.login-heading p {
  font-weight: 500;
}

.login-block {
  padding: 15px;
  padding-bottom: 0px !important;
}

.goog {
  background-color: rgb(239, 239, 239);
}

.goog-span {
  color: rgb(51, 51, 51);
}

.fb {
  background-color: rgb(31, 117, 239);
}

.fb-span {
  color: white;
}

.tp-login-button {
  border: 0px;
  height: 40px;
  width: 100%;
  margin: 20px auto;
  display: block;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  text-align: left;
  background-clip: padding-box;
  transition: opacity 0.2s linear 0s;
  position: relative;
}

.tp-login-contents {
  border-radius: 2px;
  background-color: transparent;
  display: inline-block;
  height: 24px;
  margin-left: 12px;
  text-align: center;
  width: 24px;
}

.tp-login-contents div {
  position: relative;
  margin: 2px auto auto;
}

.tp-login-span {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: absolute;
  text-align: center;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%) translateX(-20px);
  vertical-align: top;
  -webkit-font-smoothing: auto;
  width: 100%;
}

.signup-primary {
  color: var(--dark-blue);
  background-color: white;
  border: 2px solid var(--dark-blue);
  font-weight: 600;
}

.signup-primary:hover {
  background-color: var(--dark-blue) !important;
  color: white;
}

.signin-primary {
  color: blue;
}

.signin-primary:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--dark-blue);
  font-weight: 600;
}

.btn-primary:hover {
  color: var(--dark-blue);
  background-color: white;
  border: 2px solid var(--dark-blue);
}

.remember-me-checkbox {
  margin-right: 10px !important;
}

.login-form-btn {
  margin: 20px 0 !important;
  height: 40px !important;
}

.sign-in-block {
  width: 100%;
  margin: 0px auto;
  padding-top: 20px;
}

.custom-control-label {
  font-weight: 500;
}

.text-strikethru {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0px auto;
}

.text-strikethru .line {
  height: 1px;
  background-color: #F1EEEA;
  width: 100%;
  position: relative;
  bottom: -16px;
}

.text-strikethru .text {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 5px 10px;
  font-size: 14px;
  position: relative;
  color: #282828;
}


.login-footer-image {
  position: relative;
  background-color: var(--dark-blue);
}

.login-footer-image .img {
  width: 100%;
  opacity: 20%;
}

.login-footer-image .overlay label {
  display: block;
  color: pink;
  font-size: 24px;
}

.overlay-text {
  display: block;
  color: white;
  font-weight: 700;
  padding-left: 35px;
  font-size: 24px;
  text-align: left;
}

.login-footer-image .overlay {
  width: 100%;
  height: 100%;
}

.overlay-text-block {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.overlay-text img {
  width: 24px;
  margin-bottom: 4px;
  margin-right: 10px;
  filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(186deg) brightness(111%) contrast(100%); /*To get perfect filter: https://codepen.io/sosuke/pen/Pjoqqp */
}

/* FOOTER START */

.mobile-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.46);
  z-index: 999;
}

.footer-items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #2D426B !important;
  font-family: 'Roboto';
  font-weight: bold;
}

.footer-items .item {
  cursor: pointer;
  padding: 10px;
  height: 100%;
  align-items: center;
  font-size: 12px;
  max-width: 110px;
}

.footer-items .item img {
  margin-bottom: 8px;
}

.footer-items .item:first-child {
  padding-left: 0 !important;
}

.footer-items .item:last-child {
  border-right: none !important;
  padding-right: 0 !important;
}

.footer-items .item:hover, .footer-items .item:active, .footer-items .item:focus {
  text-decoration: none;
  transition: 0.15s all ease-in-out;
  /* filter: invert(64%) sepia(64%) saturate(394%) hue-rotate(349deg) brightness(101%) contrast(96%); To get perfect filter: https://codepen.io/sosuke/pen/Pjoqqp */
  opacity: 50%;
}

@media (max-width: 330px) {
  .footer-items .item img {
    display: none;
  }

  .footer-items .item {
    padding: 12px;
  }
}
/* FOOTER END */

.ambassador-carousel {
  height: 360px !important;
}

.ambassador-carousel .BrainhubCarousel__trackContainer {
  height: 100%;
}

.ambassador-carousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
  height: 100%;
}

.ambassador-carousel li {
  height: 100%;
}

/* Search */

.search-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  justify-content: center;
  padding: 20px 0 14px 0;
}

.search-container {
  margin: 0 5% 0px 5%;
  width: 90%;
  display: flex;
  height: 40px;
  align-items: center;
  margin-bottom: 6px;
}

.search-icon {
  margin-left: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.location-icon {
  margin-left: 6px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.search-input {
  padding-left: 32px;
  width: calc(100%);
  height: 40px;
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: black;
  background-color: #F5F5F5;
}

.search-input::placeholder{
  color: var(--dark-blue);
}

.search-input:focus {
  outline-width: 0;
}

.search-location-input {
  padding-left: 32px;
  width: calc(60%);
  height: 40px;
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color:var(--dark-blue);
  background-color: #F5F5F5;
  pointer-events:none
}

.search-location-input::placeholder{
  color: var(--dark-blue);
}

.search-location-input:focus {
  outline-width: 0;
}

.search-button {
  margin-left: 6px;
  background-color: var(--accent-orange);
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  height: inherit;
  width: 40%;
}

.search-button:focus {
  outline-width: 0;
}

/* Search Ended*/


/* Card */
.ambassador-card-container {
  height: 95% !important;
  width: 95% !important;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.16);
}

.ambassador-card-container .card-body{
  border-radius: 0px 0px 10px 10px;
}

.ambassador-card-button {
  background: #FFB767;
  border-radius: 5px;
  height: 30px;
  color: var(--dark-blue);
  margin: auto;
  font-size: 10px;
  border: 0;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-image {
  width: 132px;
  height: 132px;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 52px;
  top: 566px;
}

/* People Card */
.people-card-container {
  margin: 0 5% 10px 5%;
  width: 90%;
  height: 110px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.people-container-invitation-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.7);
}

.people-container-see-all-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #5578BB;
}

.people-card-image-container {
  width: 25%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 6px 0 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.people-card-image {
  border-radius: 50%;
  height: 54px;
  width: 54px;
  overflow: hidden;
}

.people-card-text-container {
  width: 75%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 0 6px 6px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 12px;
  padding-left: 8px;
}

.people-card-text {
  margin: 0;
  font-family: Roboto, serif;
  font-weight: bold;
  color: var(--dark-blue);
}

.people-card-text-subtitle {
  margin: 4px 0 0 0;
  font-family: Roboto, serif;
  font-weight: normal;
  font-size: 16px;
}

.people-card-text-description-container{
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.people-icon {
  height: 18px;
  width: 18px;
}

.people-card-text-description {
  margin: 0 0 0 4px;
  font-family: Roboto, serif;
  font-weight: normal;
  font-size: 12px;
}

.people-card-button-container {
  margin-top: 4px;
  width: 90%;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.people-card-button{
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  line-height: 6px;
  height: inherit;
  width: 47.5%;
  color: var(--dark-blue);
  background-color: white;
  border: 1px solid var(--dark-blue);
  border-radius: 6px;
  font-weight: 500;
}

.people-connect-card-button{
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  line-height: 6px;
  height: inherit;
  width: 70%;
  color: var(--dark-blue);
  background-color: white;
  border: 1px solid var(--dark-blue);
  border-radius: 6px;
  font-weight: 500;
}

.people-card-button:focus {
  outline-width: 0;
}

.people-connect-card-button:focus {
  outline-width: 0;
}

.people-card-ignore-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  
  height: inherit;
  width: 47.5%;
  color: white;
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 6px;
}

.people-card-ignore-button:focus {
  outline-width: 0;
}

/* People Card Ended*/

/* Card Ended*/

/*Images */
.images-corners {
  width: 100%;
  border-radius: 5px 5px;
}

/*containers*/
.container {
  height: 95% !important;
  width: 95% !important;
  margin: auto;
  padding: 0;
  height: 100%;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2) !important;
}

.container_image {
  border-radius: 10px 0 0 10px;
  display: block;
  object-fit: cover !important;
  align-self: flex-start;
  width: 50%;
  height: 100%;
}

.container_text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  flex: 1 1 auto;
}

.card-image-container{
  margin: auto 15px auto 10px;
  object-fit: contain;
  align-self: flex-start;
}

.card-image{
  width: 150px;
}

.card-title{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 9px 0;
  color: var(--dark-gray);
}

.card-text{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 9px;
  margin-bottom: 0;
  color: var(--dark-gray);
}

.card-subtitle{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: var(--dark-blue);
}

/* brainhub's carousel card custom styling*/
.BrainhubCarouselItem {
  height: 225px;
}

.carousel-container {
  padding: 40px;
  background: #419be0;
}

.carousel-slick-slide img {
  margin: auto;
}

.carousel-arrow-right {
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2.45px;
}

.carousel-arrow-left {
  transform: translate(-50%, -50%) rotate(-135deg);
  margin-left: 2.45px;
}
.carousel-arrows {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: rgba(45, 66, 107, 0.5);;
  border-width: 3px 3px 0 0;
  padding: 5px;
  transition: 0.3s;
  font-size: 0;
}

.carousel-button{
  position: relative;
  padding: 15px;
  border: none;
  overflow: hidden;
  outline: 0;
  font-size: 0;
  line-height: 0;
  background-color: #f5f5f500;
  cursor: pointer;
}

/* styling for homepage's top navbar */
.top-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #2c476c1f;
  z-index: 940;
}

.nav-absolute {
  position: absolute;
}

.nav-fixed {
  position: fixed;
}

.white {
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
}

.blue {
  background-color: rgba(0,0,0,0);
}

.blue.nav-transparent {
  /*background-color: #FFFFFF, ;*/
}

.top-navbar .logo {
  position: absolute;
  left: 20px;
  height: 40px;
  width: 104px;
}

.top-navbar .hamburger {
  position: absolute;
  right: 25px;
  height: 20px;
}

.top-navbar .sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  right: 70px;
  width: 60px;
  height: 30px;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.5px;
}

/* styling for hamburger modal */
.hamburger-modal {
  position: fixed;
  z-index: 950;
  width: 100vw;
  height: 100vh;
}

.modal-navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3) !important;
  z-index: 999;
}

.modal-navbar .logo {
  position: absolute;
  left: 20px;
  width: 104px;
  height: 40px;
}

.modal-navbar .close {
  position: absolute;
  right: 25px;
  width: 7%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  background-color: white;
  padding-top: 60px;
  height: 100%;
  width: 100%;
}

.modal-body a {
  padding: 20px;
  color: #2D426B;
  font-weight: 500;
}

/* Home Page */

.home-landing {
  position: relative;
  width: 100vw;
  overflow: hidden;
  background-color: var(--dark-navy);
}

.career-landing {
  height: 55vh !important;
}

.career-landing .landing-img {
  width: 100%;
  height: auto;
}

.home-landing .landing-img {
  position: relative;
  height: calc(100vh - 30px);
  max-height: 800px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.2;
  z-index: 2;
}

.landing-content {
  width: 80%;
  max-width: 470px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}

.landing-content h1 {
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}

.landing-content p {
  color: white;
  margin: 30px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.landing-content button {
  background: var(--accent-orange);
  color: white;
  border: 2px solid var(--accent-orange) !important;
  box-sizing: border-box;
  box-shadow: 0px 0px 7px rgba(248, 161, 65, 0.3);
  border-radius: 5px;
}

.home-about h1 {
  font-weight: bold;
}

.home-about img {
  width: 100%;
}

.home-about p {
  padding: 30px;
  padding-bottom: 0px;
}

.home-arrow-header {
  text-align: left;
  margin: 30px;
  margin-bottom: 20px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: var(--dark-blue);
}

.home-arrow-header img {
  padding-left: 10px;
}

.card-image-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.career-card-container {
    display: flex;
    border-radius: 5px;
    margin: auto;
}

.career-card-text {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(0, 0, 0, 0.61);
  padding: 20px;
}

.career-title{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #2D426B;
  margin-bottom: 0;
}

/* Personalized Home Page START */

.pers-home-landing {
  position: relative;
  width: 100vw;
  overflow: hidden;
  background-color: var(--dark-navy);
  text-align: left;
}

.pers-home-landing .landing-img {
  position: absolute;
  height: 100%;
  display: inline-block;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.2;
  z-index: 2;
}

.pers-landing-content {
  width: 100%;
  margin: auto;
  max-width: 470px;
  position: relative;
  padding: 60px 5px 5px 5px;
  z-index: 3;
}

.pers-landing-content > div, h1 {
  margin: 10px 20px;
}

.pers-landing-content h1 {
  color: white;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
}

/* Personalized homepage END */

/* SimpleCards START */

.pers-simple-cards {
  display: flex;
}

.simple-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}

.simple-card h6 {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 16px;
  width: 85%;
  color: rgb(45, 66, 107);
}

.simple-card img {
  margin-bottom: 10px;
}

.pers-simple-cards > :first-child {
  margin-right: 3px;
}

.pers-simple-cards > :last-child {
  margin-left: 3px;
}

/* SimpleCards END */

/* CompareCareers START */
.compare-careers {
  height: auto;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}

.compare-careers h1 {
  margin-top: 0;
  text-align: center;
  color: var(--dark-blue);
  font-size: 20px;
  line-height: 16px;
}

.careers-box {
  display: flex;
}

.careers-box > div {
  background-color: #DADADA;
  width: 50%;
  border-radius: 4px;
  padding: 8px;
}

.careers-box > :first-child {
  margin-right: 3px;
}

.careers-box > :last-child {
  margin-left: 3px;
}

.careers-box select {
  width: 100%;
  border: 0;
  height: 26px;
  font-weight: 600;
}

.careers-row {
  position: relative;
  padding-left: 30px;
  margin: 5px 0;
}

.careers-row > img {
  position: absolute;
  left: 0;
  top: 1px;
  height: 20px;
  margin-right: 10px;
}

.careers-row label {
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
}

.careers-row button {
  color: white;
  font-size: 13px;
  font-weight: bold;
  background-color: var(--dark-blue);
  border-radius: 3px;
}


/* CompareCareers END */

/* Notification START */

.notification {
  position: relative;
  min-height: 60px;
  max-height: 70px;
  padding: 8px 8px 7px 60px;
  background-color: #F9C287;
  border-radius: 5px;
}

.notification img {
  position: absolute;
  height: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%)
}

.notif-header {
  font-weight: bold;
  color: var(--dark-blue);
  padding-bottom: 5px;
}

.notif-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Notification END */

/* Career Ambassador Card V2 START */

.career-ambassador-card-v2 {
  height: auto !important;
  min-height: 220px !important;
  width: auto !important;
  background-color: white;
}

.career-ambassador-card-v2 h4 {
  color: var(--dark-blue);
  font-size: 20px;
  line-height: 23px;
  margin-top: 5px;
}

.career-ambassador-card-v2 .content {
  text-align: center;
  padding: 10px 15px;
  overflow: scroll;
}

.career-ambassador-card-v2 p {
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  margin-top: 5px;
}

/* Career Ambassador Card V2 END */

/* Career Ambassador Card START */

.career-ambassador-card {
  height: 180px !important;
  width: auto !important;
  background-color: white;
}

.career-ambassador-card .card-media-block {
  display: block;
  overflow: hidden;
  /* object-fit: cover !important;
  align-self: flex-start; */
  width: 45%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.career-ambassador-card .card-media-block .custom-media {
  width: 100%;
  height: 100%;
}

.career-ambassador-card .content {
  width: 55%;
  text-align: left;
  padding: 10px 15px;
  overflow: scroll;
}

.career-ambassador-card h6 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: var(--dark-blue);
}

.career-ambassador-card h5 {
  font-size: 16px;
  line-height: 19px;
  color: var(--accent-orange)
}

.career-ambassador-card p {
  font-size: 13px;
  line-height: 16px;
}

/* Career Ambassador Card END */

/* Aome Carousel START */

.articles-carousel {
  display: flex;
  height: 100% !important;
  width: 100% !important;
  text-align: left !important;
}

.pers-home-landing .carousel-button, .welding-page .carousel-button {
  padding: 10px !important
}

.pers-home-landing .carousel-arrows {
  border-color: var(--accent-orange)
}

.pers-home-landing .BrainhubCarouselItem {
  height: auto !important;
}

.articles-carousel > div {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px 15px;
}

.articles-carousel > :first-child {
  margin-right: 3px;
}
.training-page .articles-carousel > :first-child {
  background: #DADADA;
}

.training-page .articles-carousel > :last-child {
  background: #DADADA;
}

.training-page .articles-carousel > div {
  border: 0;
}
.articles-carousel > :last-child {
  margin-left: 3px;
}

.articles-carousel h5 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: var(--dark-blue);
}

.articles-carousel .date-label {
  font-weight: 500;
  font-size: 12px;
}

.articles-carousel p {
  font-size: 11px;
  line-height: 12px;
}

.articles-carousel h6 {
  color: var(--accent-orange);
}

/* Articles Carousel END */



/* Video Component START */

.video-comp {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.video-comp video {
  width: 100%;
}

.sign-up {
  position: relative;
  height: 100%;
  width: 100%;
}

.ambassador-card-div{
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.flexbox-container {
  padding-top: 5px;
  display: flex;
  flex-wrap: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
}

.flexbox-container::-webkit-scrollbar {
  display: none;
}

.nav-button{
  text-align: center;
  background: #EDEDED;
  border: 1.5px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  flex: 0 0 auto;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #2D426B;
}

.selected {
  background-color: var(--accent-orange);
  border: 0 !important;
}

.nav-button:focus {
  outline: 0 !important;
}

/* Video Component END */

/* Build Profile START */

.build-profile {
  position: relative;
  border-radius: 10px;
  padding: 10px 15px 10px 100px;
  min-height: 100px;
  background-color: #DADADA;
  border: 1px solid #ddd;
}

.build-profile .profile-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  transform: translateY(-50%);
}

.profile-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.build-profile h2 {
  margin-top: 5px;
  color: var(--dark-blue);
}

.build-profile p {
  font-size: 13px;
  line-height: 14px;
}

.pers-arrow-header {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  color: var(--dark-blue);
}

.pers-arrow-header img {
  margin-left: 15px;
}

/* Build Profile END */


.sign-up-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-check-label {
  margin-left: 5px;
}

.form-button {
  color: black;
  background: #EDEDED;
  border: 1.5px solid #DADADA;
  margin: 5px !important;
  border-radius: 5px !important;
  height: 30px;
  line-height: 16px;
}


.popup-button {
  background-color: var(--accent-orange);
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin: 5px;
  width: 45%;
  height: 40px !important;
}

.location-input {
  width:52%;
  box-shadow:0 0 7px rgba(248, 161, 65, 0.3);
  margin-right:5px;
  line-height:2;
  padding-left: 25px;
}

.location-image {
  top: 18px;
  position: absolute;
  width: 20px;
  left: 15px;
}

.location-input-div {
  margin-left: 12px;
  position: relative;
  width: 100%;
}

.form-button:focus {
  background: #2D426B;
  border: 1.5px solid #2D426B;
  outline: none !important;
}

.form-button:visited {
  background: #2D426B;
  outline: none !important;
}

.form-button:active {
  background: #2D426B;
  border: 1.5px solid #2D426B;
  outline: none !important;
}

.form-button:hover {
  background: #EDEDED;
  border: 1.5px solid #DADADA;
}

.radio-button label{
  font-weight: 500 !important;

}


/* career detail page */
.welding-page {
  width: 100vw;
  height: auto;
  overflow: hidden;
  background-color: var(--dark-navy);
}

.welding-landing-content {
  position: relative;
  margin: 10px auto;
  padding: 20px;
}

.welding-page .landing-img {
  height: calc(100vh - 30px);
  max-height: 800px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.2;
  z-index: 2;
}

.welding-ambassador-card {
  margin: 20px auto;
  background-color: #FFFFFF;
  height: auto;
  border-radius: 5px
}

.welding-ambassador-card .video-comp {
  width: 90%;
}

.welding-ambassador-card .video-comp video {
  border-radius: 10px !important;
}

.job-opening-carousel {
  width: 100%;
  height: 100%;
}

.job-opening-carousel .BrainhubCarouselItem {
  height: 170px;
}

.job-opening-carousel .BrainhubCarousel__track {
  height: 100% !important;
}

.certification-container{
  align-items: flex-start;
  flex-direction: column;
  float: left;
  display: flex;
  border-radius: 5px;
  height: 303px;
  background: white;
  justify-content: left;
}

.certification-header {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
 margin-bottom: 16px;
  color: #2D426B;

}

.certification-item{
  position: relative;
  height: 40px;
  background: rgba(45, 66, 107, 0.15);
  border-radius: 6px;
  width: 100%;
  margin: 0 0 10px 0;

}

.certification-text{
  text-align: left;
  padding-left: 60px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
}

.certification-image{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  left: 15px;
}

.compare-container{
  padding: 0 55px;
  position: relative;
  background: #FFFFFF;
  border-radius: 6px;
}

.compare-text{
  text-align: left;
  font-family: Roboto,serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  display: flex;
}

.compare-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  right: 15px;
}

.compass-title{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #2D426B;
}

.compass-text {
  text-align: left;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.8);
  padding-right: 70px;
  margin-bottom: 12px;
}

.compass-container{
  position: relative;
  padding-left: 10px;
  height: 145px;
  align-items: flex-start;
  flex-direction: column;
  /* float: left; */
  display: flex;
  border-radius: 5px;
  background: white;
  justify-content: left;
}

.compass-button{
  margin-bottom: 15px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #F8A141;
  border-radius: 5px;
  width: 125px;
  justify-content: center;
}

.compass-image{
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translateY(-50%);
  right: -13px;
  top: 73%;
}

.calendar-container{
  height: 215px;
  background: #FFFFFF;
  border-radius: 6px;
  align-items: flex-start;
  flex-direction: column;
  float: left;
  display: flex;
  justify-content: left;
}

.calendar-title{
  background: #DADADA;
  border-radius: 6px;
  height: 38px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #2D426B;
  margin-bottom: 10px;
}
.calendar-row{
  width: 100%;
  display: flex;
}
.calendar-row >:first-child{
  width: 40%;
}

.calendar-row >:last-child{
  width: 60%;
  text-align: left;
}

.calendar-date{
  height: 19px;
  margin-bottom: 7px;
  background: #5578BB;
  border-radius: 6px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: center;
}

.calendar-range{
  margin: 0;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.calendar-text{
  height: 33px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
}

.calendar-location {
  height: 12px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.calendar-arrow{
  width: 19px;
  height: 19px;
  top: 80%;
  right: 90px;
  position: absolute;
  transform: translateY(-50%);
}

.skill-container{
  flex-direction: column;
  display: flex;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 16px 20px;
  height: 222px;
}

.skill-header{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #2D426B;
  height: 23px;
}

.skill-row{
  padding-left: 15px;
  height: 50px;
  width: 100%;
  display: flex;
}
.skill-row >:first-child{
  width: 50%;
  background-color: white;
  padding-right: 10px;
}

.skill-row >:last-child{
  width: 50%;
  background-color: white;
}

.skill-text{
  text-align: left;
  height: 16px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.skill-div{
  position: relative;
  padding-left: 30px;
}

.skill-image-left{
  width: 39px;
  height: 39px;
  top: 50%;
  left: -15px;
  position: absolute;
  transform: translateY(-50%);
}

.skill-image-right{
  height: 34px;
  left: -10px;
  top: 50%;
  width: 34px;
  position: absolute;
  transform: translateY(-50%);
}

.welding-container{
  margin: 60px auto 30px;
  display: flex;
  flex-direction: column;
  /*width: 90%;*/
}

.welding-container > div {
  margin: 10px 20px;
}

.orange-arrows .carousel-arrows {
  border-color: var(--accent-orange)
}

.home-page-header{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #2D426B;
  height: 33px;
}

.home-page-arrow{
  width: 29px;
  height: 14px;
  right: 14%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.dd-wrapper {
  user-select: none;
  position: absolute;
  width: 80%;

}

.dd-header {
  background: #FFFFFF;
  border-radius: 6px;
  height: 37px;
  align-items: center;
  display: flex;
  justify-content: left;
  line-height: 38px;
  border: 1px solid #dfdfdf;
  cursor: default;

}
.dd-header span {
  margin-right: 20px;
}
.dd-header-title {
  margin: 2px 30px 2px 20px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}
.angle-down {
  color: #000;
  margin-right: 20px;
}
.dd-list {
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 5px -1px #e8e8e8;
  padding: 15px 0;
  max-height: 215px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.dd-list-item {
  width: 100%;
  padding: 8px 10px;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #000000;
}
.dd-list-item.selected {
  color: #fff;
  background-color: #ffcc01;
}
.dd-list-item:hover {
  color: #fff;
  background-color: #ffcc01;
}
.dd-wrapper-single {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 265px;
}
.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}
.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}
.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}

.dd-container{
  height: 137px;
  background: #DADADA;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 33px 36px 35px;
}

.dd-title{
  height: 34px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #2D426B;
}

.dd-arrow{
  width: 39px;
  height: 39px;
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  right: 10px;
}

.school-text{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #2D426B;
  height: 18px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 9px;
}

.school-location {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 15px;

}
.filter-container{
  padding: 5px 20px;
  position: relative;
  height: 58px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}
.filter-header{
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background: #DADADA;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #2D426B;

}

.filter-header:focus{
  outline-width: 0;
}

.filter-image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 24px;
    height: 24px;

}

.filter-button-container{
  width: 33%;
  position: relative;
  height: auto;
  background: #DADADA;
  border-radius: 6px;
}

.filter-arrow{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
}

.filter{
    padding: 3px auto 3px 40px;
}

.training-button {

  width: 45%;
  height: 42px;

  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  align-items: center;
  text-align: center;


}
.button-container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.carousel-header{

  margin: 29px 29px 9px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2D426B;
  border-radius: 6px;
}

.carousel-title{
  height: 31px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.discussion-container{
  display: flex;
  flex-direction: column;
  margin: 28px 33px 35px 24px;
  height: 145px;
  background: #DADADA;
  border-radius: 6px;
  align-items: center;
}

.discussion-header{
  padding: 25px 25px 0px 25px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 23px;
  color: #2D426B;
  justify-content: center;
}

.discussion-text{
  padding: 11px 38px 0 38px;
  height: 30px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.discussion-button{
  margin-top: 15px;
  width: 124px;
  height: 20px;
  background: #F8A141;
  border-radius: 5px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
}

.training-landing-img{
  position: relative;
  height: calc(100vh - 30px);
  max-height: 800px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  /* opacity: 0.2; */
  z-index: 2;
}

/** Job Card START */

.job-card {
  display: flex;
  height: 150px;
  border: 1px solid #ddd;
  text-align: left;
}

.job-card >:first-child {
  padding-left: 10px;
  width: 30%;
  text-align: center;
}

.job-card >:last-child {
  width: 70%;
  padding: 15px;
}

.job-card img {
  max-height: 100px;
  height: 80%;
  width: auto;
}

.job-card .job-title {
  position: relative;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  line-height: 16px;
  max-height: calc(16px * 2);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.job-subtitle {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  color: var(--dark-blue);
  margin-bottom: 8px;
}

.job-text {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--dark-gray);
}

/** Job Card END */

/** Featured Job Card START */

.featured-jobs {
  height: 200px;
  display: flex;
}

.featured-jobs > div {
  height: 100%;
  width: 50%;
  margin: 5px 15px;
  background-color: #DADADA;
  border-radius: 6px;
}

.featured-jobs > :first-child {
  margin-right: 10px !important;
}

.featured-jobs > :last-child {
  margin-left: 10px !important;
}

.featured-jobs-heading {
  font-size: 14px;
  color: var(--dark-gray)
}

.featured-jobs .img-container {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100px;
  border: 1px solid #ddd;
  padding-top: 6px;
  margin-bottom: 5px;
}

.featured-jobs img {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.featured-jobs label, .featured-jobs h6 {
  display: block;
}

.featured-jobs label {
  font-size: 11px;
  font-weight: normal;
}

.featured-jobs h6 {
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0;
}

.featured-jobs button {
  margin: 0;
}


/** Featured Job Card END */
